.SocialButton {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
}

.SocialButton-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.SocialButton-text {
    font-size: 0.9rem;
    font-weight: 500;

}
