:root {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: var(--text-chocolate);
    /* Core Palette */
    --color-base: #F1E7D0; /* Hero / Intro BG */
    --color-earthy-white: #F9F8F4; /* Secondary neutral */
    --blush-white: #fffdff; /* */
    --warm-teracotta: #D35400; /* Terracotta */
    --color-sage: #A3C586; /* Sage Green */
    --text-chocolate: #6D4C41; /* Deep Brown */
    --text-clay: #a9765d; /* Clay Brown, orangy clay on dropdown hover*/
    --text-warmer-cocoa: #988576;
    --ivory-dust: #F3EEE3;
    --bare-linen: #F4F2EB;
    --light-ivory: #FBF8F0;
    --text-dark-chocolate: #573326;
    --chocolate-http-hover: #6C4F3F;
    --dropdown-hover-color: var(--text-clay); /* lighter brown */
    --color-hero-bg: var(--color-base); /* Hero / Intro BG */
    --color-about-bg: var(--color-earthy-white); /* Card/Flex‐box BG */
    --nav-hover-color: var(--color-sage); /* sage green */
    /* projects page */
    --color-projects: var(--ivory-dust); /* Light Sage for Projects BG */
    --color-project-box: var(--bare-linen); /* Light Sage */
    --color-skills: var(--color-earthy-white    );
    --color-skills-box: var(--bare-linen); /* Light Sage */
    --standard-height: clamp(1000px,90vh,1200px);
    scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
}

.fadeInBeforeLoaded {
    opacity: 0;
    transform: translateY(0.2rem);
    transition: opacity 0.5s ease, transform 0.5s ease;

}

.fadeInOnceLoaded {
    opacity: 1;
    transform: translateY(0);
}

.preserveWhiteSpace {
    white-space: pre;
}